.titulo{
    align-items: center;
    text-align: center;
    font-size: 50px;
  
}

.contenido{
    margin: 30px;
    align-items: center;
    justify-content: center;
}

h3{
    font-size: 25px;
}

.mostrarcartelera{
    margin-left: 35px;
    width: 80px;
    padding: 8px;
}

.guardarCarrito{
    margin-left: 15px;
    width: 80px;
    padding: 8px;
    
}